.data-entry {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;   
    gap: 5px; 
}

.data-entry .item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.heading-box {
    padding: 50px;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}